.more-products {
	@media (min-width: 768px) {
		.slick-list {
			padding: 0 !important;
			.slick-track {
				width: 100% !important;
				.slick-slide {
					width: calc(100% / 3) !important;
				}
			}
		}
	}
	div {
		outline: none;
	}
	h2 {
		text-align: center;
		color: white;
		font-weight: normal;
	}
	.thumb {
		margin-bottom: 15px;
		img {
			width: 100%;
			max-width: none;
			border-radius: 5px 5px 0 0;
		}
		.text {
			background: white;
			border-radius: 5px;
			padding-bottom: 10px;
		}
	}
	a {
		color: black;
		outline: none;
		&:hover {
			color: #337ab7;
			text-decoration: none;
		}
	}
	h3 {
		font-size: 28px;
		font-weight: bold;
		padding: 0 10px;
	}
	.price {
		font-size: 28px;
		padding: 0 10px;
	}
}